h1 {
	text-align: center;
	color: blue
}

#root {
	display: flex;
	justify-content: center;
	width: 100%;
}

.board-container {
	position: relative;
	display: inline-block;
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 800px;
}

.tile {
	--tile-color: #ffffff;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 2px;
	background-color: var(--tile-color);
	transition: background-color 0.2s ease;
	transform-style: preserve-3d;
}

.tile .letter {
	margin: 0;
}

.letter {
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	transition: color 0.2s ease;
}

.tile.gray {
	--tile-color: rgb(209, 184, 184);
}

.tile.green {
	--tile-color: rgb(70, 180, 70);
}

.tile.yellow {
	--tile-color: yellow;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: rgba(255, 165, 0, 0.95);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	z-index: 10;
	text-align: center;
}

.play-again-button {
	background-color: blue;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

.play-again-button:hover {
	background-color: #333;
}

.animate {
	animation: flipReveal 0.4s ease-in-out forwards;
}

.animate .letter {
	opacity: 0 0.1s;
	animation: letterReveal 0.4s ease forwards;
	animation-delay: 0.2s;
}

@keyframes flipReveal {
	0% {
		transform: rotateX(0deg);
		background-color: #ffffff;
	}
	49% {
		transform: rotateX(90deg);
		background-color: #ffffff;
	}
	50% {
		transform: rotateX(90deg);
		background-color: var(--tile-color);
	}
	100% {
		transform: rotateX(0deg);
		background-color: var(--tile-color);
	}
}

@keyframes letterReveal {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}