h1 {
	text-align: center;
	color: blue
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tile {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 2px;
}

.tile .letter {
	margin: 0;
}

.letter {
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}